/* 새 미로 추가 팝업 */
.adjustPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: calc(100vw - 96px);
    max-width: 400px;
    padding: 24px;

    background-color: rgba(250, 250, 250, 0.51);
    border-radius: 20px;
    backdrop-filter: blur(20.4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

/* 질문 텍스트 */
.adjustPopup p {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin: 0;
}

/* 지도 스냅샷 이미지 */
.staticMapImage {
    width: 100%;
    height: 147px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
    border: 1px solid #e3e3e3;
}

/* 버튼 그룹 */
.adjustPopup_buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    align-items: center;
}

/* 버튼 공통 스타일 */
.adjustPopup button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

/* 확인 버튼 */
.adjustPopup button:first-of-type {
    background:
        linear-gradient(#56C9C0 37%),
        radial-gradient(50% 50% at 50% 50%, #56C9C0 20%, #56C9C0 100%);
    border: 0.5px solid rgba(86, 201, 192, 0.7);
    color: #fff;
}

/* 취소 버튼 */
.adjustPopup button:last-of-type {
    background-color: #F1F8F6;
    color: #56C9C0;
    border: 0.5px solid #56C9C0;
}