/* 새 미로 추가 팝업 */
.adjustPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    height: 380px;
    padding: 20px;
    /* 내부 여백 */

    background-color: rgba(250, 250, 250, 0.51);
    border-radius: 20px;
    backdrop-filter: blur(20.4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    /* 가운데 정렬 */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.adjustPopup button {
    width: 200px;
    margin: 8px 0;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.adjustPopup button:first-of-type {
    background-color: #56c9c0;
    color: #fff;
}

.adjustPopup button:last-of-type {
    background-color: #f2f2f2;
    color: #56c9c0;
}