/* 공간 탈출 생성 버튼 */
.ScanButton {
  /* 사이즈 및 레이아웃 */
  width: 118px;
  height: 118px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  padding: 0;

  /* 박스 스타일 */
  border-radius: 20px;
  border: none; 
  box-shadow: 0 0 24px rgba(0, 0, 24, 0.28);
  background: #000000;
}

.confirmBtn,
.cancleBtn {
    width: 297px;
    height: 45px;
    border-radius: 25px;
    margin: 7px;
    border: none;
}

.confirmBtn {
    background-color: rgba(86, 201, 192, 1);
    color: rgba(250, 250, 250, 1);
}

.cancleBtn {
    background-color: rgba(250, 250, 250, 1);
    color: rgba(86, 201, 192, 1);
}

/* 상점 버튼 */
.iconCart {
    width: 24px;
    position: relative;
    max-height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.textStore {
    position: relative;
}

.StoreButton {
  /* 사이즈 및 레이아웃 */
  width: 105px;
  height: 47px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 0;

  /* 박스 스타일 */
  border-radius: 25px;
  border: 1px solid rgba(86, 201, 192, 0.3);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.28);
  background:
    linear-gradient(
      #56C9C0 55%
    ),
    radial-gradient(
      70% 70% at 30% 30%,
      #56C9C0 20%,
      #56C9C0
    ),
    #fff;

  /* 텍스트 스타일 */
  text-align: left;
  font-size: 20px;
  color: #fafafa;
  font-family: 'Freesentation', sans-serif;
}
