/* 전역 스타일 */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Freesentation-6SemiBold', sans-serif;
  font-size: 20px;
}

.leaflet-container {
  z-index: 0 !important;
}

/* 팝업 전체 영역의 배경 */
.leaflet-popup-content-wrapper {
  background: linear-gradient(180deg,
      rgba(250, 250, 250, 0.73) 0%,
      rgba(235, 242, 240, 0.76) 100%), rgba(250, 250, 250, 0);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20.4px);
  border: 1.2px solid rgba(255, 255, 255, 0.48);
  width: 100%;
}

/* 팝업 내부 내용 */
.leaflet-popup-content {
  background: transparent;
  margin: 0;
}


@font-face {
  font-family: 'Freesentation-6SemiBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}